/* .quiz {
    border: solid #000000 1px;
} */

.app{
    width: 640px;
    background: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.question {
    height: 30px;
    margin: 30px;
    font-weight: bold;
    font-size: 17pt;
    /* overflow: ; */
}

.options {
    margin: 35px;
    display: grid;
}

.options button {
    background: rgb(210, 206, 206);
    padding: 8px;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    font-size: 14pt;
    border: none;
}

.options button:hover {
    background: rgb(0, 186, 10);
    cursor: pointer;
}

#next-btn {
    /* display: inline-block; */
    color: #ffffff;
    text-align: center;
    font-size: 15pt;   
    margin: 5px;
    padding: 20px; 
    background: rgb(2, 138, 201);
    /* background-color: #cccccc;
    color: #666666; */
    pointer-events: none;
}

#next-btn:hover {
    cursor: pointer;
}

/* .next-button:disabled,
.next-button:disabled {
    background-color: #cccccc;
    color: #666666;
} */