/* .quiz {
    border: solid #000000 1px;
} */

.app{
    width: 640px;
    background: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.question {
    height: 30px;
    margin: 30px;
    font-weight: bold;
    font-size: 17pt;
    /* overflow: ; */
}

.options {
    margin: 35px;
    display: grid;
}

.options button {
    background: rgb(210, 206, 206);
    padding: 8px;
    border-radius: 5px;
    margin: 5px;
    border: none;
}

.options button:hover {
    background: rgb(0, 186, 10);
}

.next-btn {
    /* display: inline-block; */
    color: #ffffff;
    text-align: center;
    font-size: 15pt;   
    margin: 5px;
    padding: 20px; 
    background: rgb(0, 148, 218);
}

/* .next-button:disabled,
.next-button:disabled {
    background-color: #cccccc;
    color: #666666;
} */