.quiz {
    border: solid #000000 1px;
}

.app{
    width: 640px;
    background: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.question {
    height: 30px;
    margin: 30px;
    font-weight: bold;
    font-size: 20pt;
    overflow: hidden;
}

.options {
    margin: 35px;
    display: grid;
}